body {

    font-size: 12px;
    background-color: whitesmoke;
    text-align: center;
    

}

h1, h3 {

    font-family: 'Ubuntu', sans-serif;


}

p {

    font-family: 'Mukta', sans-serif;
    

}
